version: '3.8'
services:
  opensearch-node1:
    image: opensearchproject/opensearch:2.8.0
    container_name: opensearch-node1
    environment:
      - cluster.name=opensearch-cluster
      - node.name=opensearch-node1
      - discovery.seed_hosts=opensearch-node1
      - cluster.initial_master_nodes=opensearch-node1
      - bootstrap.memory_lock=true # aby zapobiec stronicowaniu pamiêci
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m" # dostosowanie u¿ycia pamiêci JVM
      - plugins.security.disabled=true # opcjonalne: wy³¹czenie wtyczki zabezpieczeñ dla uproszczenia
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - opensearch-data1:/usr/share/opensearch/data
    ports:
      - 9200:9200
    networks:
      - opensearch-net

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:2.8.0
    container_name: opensearch-dashboards
    ports:
      - 5601:5601
    environment:
      OPENSEARCH_HOSTS: 'http://opensearch-node1:9200'
      
    networks:
      - opensearch-net

volumes:
  opensearch-data1:

networks:
  opensearch-net: